<html>
    <head>
        
        
        <style>
            .nav2 {
        display: block;
        text-align:center;
        font-size: 25px;
        margin-right: 10px;
        margin-left:10px;
        background-color:#337ab7;
        padding-top:15px;
        padding-bottom:15px;
    }
            .title3{
        color:white;
        margin-left:20px;
        margin-right : 40px;
        margin-top: 0px;
        margin-bottom :0px;
    }
    .title3:hover{
        color:white;
    }
        
        </style>
    </head>
    
    <body>
        <div class="nav2">
            <a href="" class="title3"> 일정</a>
            <a href="" class="title3">바란다</a>
            <a href="" class="title3">장터</a>
            <a href="" class="title3">취업</a>
            <a href="" class="title3">이용안내</a>
    </div>
        {% block contents %}
    
    {% endblock %}
    </body>
    
</html>

